* {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11pt;
    color:black;
}

#header img {
    width: 100%;
}

li {
    list-style:none;
}

a {
    color: DarkGreen;
    text-decoration: none;
}

a:hover{
    color:white;
}

h1 {
   font-size: 26pt;
   margin-top: 15px;
   margin-bottom: 15px;
}

h2 {
   font-size: 18pt;
   margin-top: 16px;
   margin-bottom: 15px;
}


body { 
    padding: 0;
    margin: 0; 
}

#page {
    margin: 0px auto 0px;
    max-width: 1000px;
    min-width: 620px;
    width: 100%;
    display: block;
    text-align: left;
}

#main_menu {
    display:none;
}

#sub_menu {
    display:none;
}

#footer {
    display:none;
}
