* {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11pt;
    color:black;
}

li {
    list-style:none;
}

a {
    color: DarkGreen;
    text-decoration: none;
}

a:hover{
    color:white;
}

h1 {
   font-size: 26pt;
   margin-top: 15px;
   margin-bottom: 15px;
}

h2 {
   font-size: 18pt;
   margin-top: 16px;
   margin-bottom: 15px;
}


body {
    background-color: #698900;
    background-image:url("background.png");
    background-repeat: repeat;
    background-attachment: fixed; 
    background-position: bottom;  
    padding: 0;
    margin: 0; 
}

#page {
    margin: 0px auto 0px;
    max-width: 1000px;
    min-width: 620px;
    background-image:url("background-page.png");
    background-repeat:repeat-y;
    width: 100%;
    display: block;
    text-align: left;
}

#main_menu {
    margin-top: -20px;
    margin-left: 120px;
    margin-bottom: 50px;
    float:left;
    width:560px;
}

#main_menu li {
     font-weight: bold;
    float:left;
    padding-left:15px;
    padding-right:15px;
    margin-left:15px;
    margin-right:15px;
    list-style:none;
    background: #bdff00;
    background: rgba(189,255,0,0.7);
    line-height: 1.5em;
    text-align: center;
    font-size: 18pt;
    font-variant: small-caps; 
    
    border-radius: 0px 0px 10px 10px;
    border-top: solid green 1px;
    border-left: solid green 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

#main_menu li a { 
    text-align: center;
    font-size: 18pt;
    color:#003e00;
    
}

#main_menu .selected{
    color: black;
    background: #ffe866;
    background: rgba(255,255,102,0.8);
}

#main_menu li:hover {
    color: white;
    background: #ffe866;
    background: rgba(255,255,102,0.8);   
    border-radius: 0px 0px 10px 10px;
    border-top: solid green 1px;
    border-left: solid green 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

#main_menu li a:hover {
    color: white;
}
    
#sub_menu {
    margin-top: -70px;
    margin-left: 272px;
    margin-bottom: -30px;
    float:left;
    width:370px;
}
    
#sub_menu li a {
    margin-top: 6px; 
    font-weight: bold;
    font-size:14pt;
    float:left;
    padding: 5px 15px;
    border-left: solid green 1px;
    border-bottom: solid black 1px;
    background: #ffe866;
    background: rgba(255,255,102,0.8); 
    border-radius: 10px 10px 10px 10px;
}

#sub_menu .selected a {
    color: black;
}

#footer {
    float:left;
    font-size: 8pt;
    color:white;
    margin-top:32px;
    margin-left:190px;    
    margin-bottom:20px;
    width:600px;
}

#footer li a {
    font-weight: bold;
    float:left;
    padding-left:5px;
    padding-right:5px;
    margin-left:3px;
    margin-right:3px;
    list-style:none;
    font-weight:bold;
    font-size: 14pt;
    color: #003e00;
    line-height: 30px;
    text-align: center;
    
    background: #bdff00;
    background: rgba(189,255,0,0.7);    
    border-radius: 5px;
    
    border-top: solid green 1px;
    border-left: solid green 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

#footer ul {  
    margin-left: -42px;
    margin-top: -20px;    
    margin-bottom: 40px;
    
}

#footer li a:hover {
    color:white;
    background: #ffe866;
    background: rgba(255,255,102,0.8);   
    border-radius: 5px;
    border-top: solid green 1px;
    border-left: solid green 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

#footer .selected a {
    color: black;
    background: #ffe866;
    background: rgba(255,255,102,0.8);
    border-radius: 5px;
}

#footer li:last-child {
    padding-top:5px;
}

#content {
    min-width: 600px;
    max-width: 900px;
    height: auto;
    margin: auto 30px;
    padding: 30px;
    clear:both;
    overflow: hidden;
    
    background: #ffffc0;
    background: rgba(255,255,192,0.7);    
    border-radius: 10px;
}

#content img {
    float: left;
    margin: 0.4em 1.0em 0.5em 0px; 
    border-radius: 10px;
}

#novinky {
    clear: both;
    padding: 0em 1em 0em 1em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 10px;
    min-width: 200px;
    width:200px;
    float:right;
    border: 1px solid black;    
    border-radius: 10px;
}

#novinky img {
    height: 70px;
    margin: 5px 5px 5px 0px;
}

#content ul {
   padding: 10px 10px;
}
#content li {  
   clear:both;   
}

#content li .small_img {
   float:left;
   width: 100px;
   margin-top: -0.2em;
   margin-bottom: 0.4em;
   border-radius: 5px;
}

.date {
  font-weight:bold;
  font-style:oblique;
  float:left;
  margin-right: 0.5em;
}

.hot {
 font-weight:bold;
 font-size:18px;
 color: red;
}

.list {
 list-style-type: circle;
 margin-left: 15px;
}

a[id^="hid"] {
 font-weight: bold;
 color: DarkGreen;
}

.note {
    font-size:8px;
}

.bold {
    font-weight: bold;
}

table {
    min-width: 200px;
}

td {
   padding-right:30px;
}

p {
    text-align: justify;
}

#novinky p {
    text-align: left;
}

.right {
    float: right;
}

#content .right {
    float: right;
}

#content a:hover {
    text-decoration: underline;
}

#novinky a:hover {
    color: white;
}

#content li img {
    width: 200px;
}

.par_li li{
    padding: 0.5em 0em;
    text-align: justify;
}
